pymupdf
beautifulsoup4
requests
langchain
langchain-community
langchain-groq
langchain-huggingface
langchain-text-splitters
sentence-transformers
chromadb
ragas
fastapi
uvicorn[standard]
python-dotenv
python-multipart
datasets
groq
pandas
